/*
color palette:
#e5bf80 Tan
#f8ce58 Saffron Yellow
#e29b27 Gold Star
#cf650f Burnt Orange
#9a3016 Red Earth
#3d0e08 Walnut

*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* background pattern from Free HD Wallpapers
	link http://freehdw.com/wallpaper/vintage-pattern-desktop-free-139143.html */
	background: #ffffff url("http://data.freehdw.com/vintage-pattern-desktop-free.jpg");
	background-repeat: no-repeat 0 0;
    font-family: 'Nothing You Could Do', cursive;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
    text-shadow:
    -1px -1px 0 #3d0e08,
    1px -1px 0 #3d0e08,
    -1px 1px 0 #3d0e08,
    1px 1px 0 #3d0e08;  
}

h1 {
    font-family: 'Life Savers', cursive;
	font-size: 40px;
	background: #9a3016;
	color: #e5bf80;
	padding: 10px 80px;
	border: 8px solid #e29b27;
	border-radius: 12px;
	margin: 26px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	text-align: center;
}

p {
	color: #e5bf80;
	padding: 6px;
}

ul {
	margin-left: auto;
	margin-right: auto;
}

.container-fluid {
	width: 690px;
}

.row {
	margin-left: auto;
	margin-right: auto;
}

.details {
	height: 200px;
	width: 100%;
	max-width: 880px;
	color: #e5bf80;
	font-style: crisp;
	border-radius: 6px;
	padding: 10px;
	margin-top: 90px;

}

.stats {
	height: 85%;
	width: 45%;
	text-align: left;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #3d0e08 0%, #9a3016 100%);
    padding: 24px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.deck .card {
    height: 125px;
    max-width: 125px;
    background: #3d0e08 url("https://www.stockvault.net/data/2012/07/31/133242/preview16.jpg"); /* free image from Stockvault.net */
	background-size: 125px 125px;
	background-repeat: no-repeat;
    background-position: right top;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #e5bf80;
    cursor: default;
}

.card img {
	width: 72px;
	height: 72px;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
	background: #ffffff url("file:///C:/Users/Student/Desktop/memory-game/images/coffee-stain-1.svg"); /*Image source http://www.onlygfx.com */
    background-size: 100%;
	font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.content .score-panel {
    background-color: #daa653; 
    background-image: url("file:///C:/Users/Student/Desktop/memory-game/images/coffee-stain-1.svg"); /*Image source Pixabay.com*/
	background-size: 100%;
	background-repeat: no-repeat 0 0;
    background-position: center;
	border: 1px solid #3d0e08;
	border-radius: 6px;
	width: 100%;
}
 
 .score-panel {
	background-size: 100%;
	background-repeat: no-repeat 0 0;
    background-position: center;
	color: #3d0e08;
	width: 100%;
	max-width: 750px;
    margin-bottom: 15px;
}

.score-panel .stars {
    padding: 10px;
	margin: 3px;
    display: inline-block;
    margin-left: auto;
	margin-right: auto;
	min-width: 350px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
	font-size: 55px;
	color: #f8ce58;
}

.score-panel .matches,
.score-panel .moves {
	padding: 5px;
	margin: 10px;
	margin-bottom: 5px;
}

.score-panel .stats {
	padding: 14px;
}

.score-panel .reset{
	margin-top: 8px;
}

.score-panel .restart {
    float: center;
    cursor: pointer;
	list-style: none;
	margin-right: 20px;
}

.content .fa-repeat {
	color: #9a3016;
	font-size: 40px;
	background-color: #e5bf80;
	border: 1px solid #3d0e08;
	padding: 8px;
	border-radius: 20px;
}

/* card animation */
.flip-2-hor-bottom-1 {
	-webkit-animation: flip-2-hor-bottom-1 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
	        animation: flip-2-hor-bottom-1 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
}

.flip-2-hor-bottom-2 {
	-webkit-animation: flip-2-hor-bottom-2 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-2-hor-bottom-2 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* star animation*/
.rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.75s linear both;
	        animation: rotate-scale-up 0.75s linear both;
}

/* modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background: #fefefe url("http://www.psdgraphics.com/wp-content/uploads/2011/08/vintage-burst.jpg"); /* photo by psdgraphics.com */
	background-size: 148%;
}

/* modal box content */
.modal-content {
    margin: 10% auto;
	padding: 20px;
    border: 23px solid #e5bf80;
	border-radius: 13px;
	text-align: right;
    width: 80%;
	max-width: 800px;
	background: #e5bf80 url("http://freefoodphotos.com/imagelibrary/drink/milky_coffee.jpg"); /* photo by freefoodphotos.com */
	background-size: 124%;
	background-position: center;
	background-repeat: no-repeat 0 0;
}

/* close button */
.close {
    color: #aaa;
    float: right;
    font-size: 33px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 450px) and (max-width: 750px) {	
	.banner h1 	{
	font-size: 33px;
	}
	.details {
		margin-top: 80px;
	}
	.score-panel {
		font-size: 28px;
		width: 100%;
	}
	.score-panel .stars li {
		font-size: 45px;
	}
}


@media screen and (min-width: 750px) {
	h1 {
		max-width: 660px;
		margin-left: auto;
		margin-right: auto;
	}
	.widescreen {
		margin-left: auto;
		margin-right: auto;
	}
}


/* ----------------------------------------------
 * Generated by Animista on 2018-6-23 15:14:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-2-hor-bottom-1
 * ----------------------------------------
 */
@-webkit-keyframes flip-2-hor-bottom-1 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: translateY(100%) rotateX(180deg);
            transform: translateY(100%) rotateX(180deg);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes flip-2-hor-bottom-1 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: translateY(100%) rotateX(180deg);
            transform: translateY(100%) rotateX(180deg);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-6-23 15:26:37
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-2-hor-bottom-2
 * ----------------------------------------
 */
@-webkit-keyframes flip-2-hor-bottom-2 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: translateY(100%) rotateX(-180deg);
            transform: translateY(100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes flip-2-hor-bottom-2 {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: translateY(100%) rotateX(-180deg);
            transform: translateY(100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-6-23 16:43:35
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2018-6-23 19:10:41
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
